<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fanxl.lookface"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.fanxl.lookface.MainStartActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.fanxl.lookface.RecognitionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/titleTheme"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.fanxl.lookface.RecognitionResult"
            android:launchMode="singleTop"
            android:theme="@style/resultTheme"
            android:label="@string/app_name" >
       </activity>
       <activity
            android:name="com.fanxl.lookface.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/searchTheme"
            android:label="@string/app_name" >
      </activity>
      <activity
            android:name="com.fanxl.lookface.CompareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/compareTheme"
            android:label="@string/app_name" >
      </activity>
      <activity
            android:name="com.fanxl.lookface.Aboutus"
            android:screenOrientation="portrait"
            android:theme="@style/AboutTitle" >
      </activity>
     </application>

</manifest>
